<h2>Day <%=@day.day_number%></h2>
<div class="row">
  <%@day.pictures.each do |photo|%>
    <div class="col s6 photos">
      <center><img class="materialboxed" src="<%=photo.img_url%>" alt="" /></center>
    </div>
  <%end%>
</div>
