/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 *
 * file per style scope.
 *= require materialize
 *= require_tree .
 *= require_self
 */


/* heroku css */

body {
 font-family: serif;
 background-color: lightyellow;
 color: #222;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.header{
  position: absolute;
  top: 0px;
  z-index: 1000;
  text-align: center;
  color: rgb(245,245,245);
  text-shadow: 2px 2px black;;
}
 .month{
   text-align: center;
 }
.links{
  color: rgb(245,245,245);
  text-shadow: 2px 2px black;;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 32px;
  color: rgb(245, 245, 245);
  margin-top: -80px;
  margin-bottom: 50px;
}
 td,tr{
   text-align: right;
   padding: 0;
   padding-bottom: 3em;
   margin: 0;
   border: 2px solid;
   width:14.2857142857142857%;
   font-size: 20px;
 }
 th{
   padding: 5px;
 }

 .day-name{
   padding: 0;
   text-align: center;
   height:auto;
   font-size: 150%;
   font-style: bold;
 }
 a{
   z-index: 4;
   color:limegreen;
 }
 .day1{
   background-image: url('./images/day1_1.jpg');
 }

 h2{
   text-align: center;
 }

 img{
   margin-bottom: 20px;
   position: relative;
   z-index: 1;
   min-width: 65%;
   max-width: 100%;
   height:400px;
 }
 table{
   min-height: 95vh;
 }

 .img{
   z-index: -1;
   min-height: 100vh;
   width: 100%;

 }

 @media screen and (max-device-width: 420px){
   h2{
     position: absolute;
     top:40vh;
     color: rgb(205,205,205);
     font-size: 60px;
     text-shadow: 4px 4px 4px 4px black;
   }
   .container{
     width: 100%
   }
   h3{
     font-size: .25em;
   }
   .img{
     min-height: 75vh;
   }

   .links{
     font-size: 50px;
     margin-top: -150px;
     text-shadow: 4px 4px 4px 4px black;
   }
   .month{
     margin-top: 10px;
     font-size: 10em;
   }
   td,tr{
     font-size: 2em;
     vertical-align: top;
     height: 10px;
     padding-bottom: 0 !important;
   }
   a{
     margin: 0;
     padding:0;
   }

   table{
     min-height: 5vh;
     padding: 0;
     height: 75vh;
   }
 }
